body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-size: calc(4px + 1.2vw);
  text-align: center;
  display: block;

  justify-content: center;
  align-items: center;
}

.tasks {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tasks,
.task {
  padding: 10px;
}
.task {
  width: 50%;
  min-width: 360px;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(41, 41, 41);
  color: white;
  border: rgb(0, 0, 0) 2px solid;
}

button,
.my-button {
  width: 12vw;
  font-weight: bold;
  font-size: calc(4px + 1vw);
}

h3 {
  font-size: calc(4px + 2vw);
}
